# Environment
.env
.env.local
.env.*.local

# Data
.data/

# Build output
.output/
dist/
.nuxt/

# Dependencies
node_modules/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Coverage
coverage/
